<h1>About Tai Haute!	<style type="text/css">

      <!--

    
:link { color: rgb(0, 0, 153) } /* for unvisited links */

      :visited { color: rgb(153, 0, 153) } /* for visited links */      

      :hover { color: rgb(0, 96, 255) } /* when mouse is over link */

    :active { color: rgb(255, 0, 102) } /* when link is clicked */

    
-->

      </style>
	   </h1> 
<p>Find me in app/views/main/about_us.html.erb</p>

     	<style type="text/css">

      <!--

      body {

        background-color: #d3ffce; 

      background-attachment: fixed;

      background-image: url(skate1.jpeg);

      background-repeat: no-repeat;

      background-position: right top;

      }

      -->

      </style>
	  

Thanks for Stopping!

<a href="http://google.com">Find us on Google </>
	