<a href="/main/about_us">

<h1>This page if for very special people only</h1>
<p>Find me in app/views/main/privacy.html.erb</p>
"If you are not a special person  you are now"
<style background-color.red:</