<a href="/main/about_us">

<h1>We Promise:
 <p>We will treat your personal information with upmost integrity.
<p>We will not sell your information for financial gain
<p>We will provide top tier material
<p>We will not eat tacos while reading your blog
<p>We will only drink water that is cold
	<style type="text/css">

      <!--

      body {   



        background-color: #d3ffce; 

      background-attachment: fixed;

      background-image: url(skate1.jpeg);

      background-repeat: no-repeat;

      background-position: right top;

      }
    
:link { color: rgb(0, 0, 153) } /* for unvisited links */

      :visited { color: rgb(153, 0, 153) } /* for visited links */      

      :hover { color: rgb(0, 96, 255) } /* when mouse is over link */

    :active { color: rgb(255, 0, 102) } /* when link is clicked */

    
-->

      </style>
	  

</h1>
<p>Find me in app/views/main/privacy.html.erb</p>
"THANKS FOR USING OUR BLOG"
<style background-color: red:</